p{
    background-color: rgb(239, 239, 27);
}
a{
    background-color: rgb(169, 255, 63);
}
div{
    background-color: rgb(255, 100, 100);
}
span{
    background-color: black;
    color: aliceblue;
}
