*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #111;
  color: #fff;
  user-select: none;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: #fff;
}
.card{
  height: 320px;
  border-radius: 15px;
width: 260px;
background-color: white;
color: #111;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.top img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gray;
}
.top button{
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #dedddd;
  border: none;
  border-radius: 5px;
  padding: 2px 4px;
  gap: 2px;
}
.top{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.parent{
  margin:40px;
}
.tags{
  background-color: #dddddd;
  border-radius: 3px;
  margin: 10px;
  padding: 2px 4px;
  font-size: 14px;
}
.bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgb(182, 182, 182);

}
.salary{
  display: flex;
  flex-direction: column;
}
.timeline{
  color: rgba(151, 151, 151, 0.979);
  font-size: 12px;
}
.companyName{
  font-size: 17px;
font-weight: 550;
margin: 10px;
}
.jobDesc{
  margin: 10px;
 font-size: 23px;
}
.bottom span button{
  background-color: #111;
  color: #fff;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}
.salary{
  font-weight: 550;
  font-size: 20px;
}
.salary span{
  font-weight: 100;
  font-size: 15px;
  color: rgba(151, 151, 151, 0.979);
}